In [1]:
import pandas as pd
from pandas import Series, DataFrame

<img src="img/8강/그룹분석_groupby.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [3]:
# 실습 데이터 적재
data = pd.read_excel('data/인구수예제.xlsx')
data.head(50)

    도시   자치구    연도  남자인구  여자인구  총인구
0   서울   강남구  2016    61    70  131
1   서울   강남구  2017   119   116  235
2   서울   강남구  2018   134   141  275
3   서울   강남구  2019   119   116  235
4   서울   강남구  2020   115   144  259
5   서울  서대문구  2016   114    95  209
6   서울  서대문구  2017    60    93  153
7   서울  서대문구  2018    55   100  155
8   서울  서대문구  2019   107    99  206
9   서울  서대문구  2020    74    62  136
10  서울   종로구  2016    90   120  210
11  서울   종로구  2017   117   127  244
12  서울   종로구  2018    61   146  207
13  서울   종로구  2019    61    72  133
14  서울   종로구  2020    50   101  151
15  서울  영등포구  2016   139   145  284
16  서울  영등포구  2017    92   134  226
17  서울  영등포구  2018   143   112  255
18  서울  영등포구  2019    69    69  138
19  서울  영등포구  2020   121   118  239
20  서울   송파구  2016   102    86  188
21  서울   송파구  2017    95    76  171
22  서울   송파구  2018   128    77  205
23  서울   송파구  2019   143    92  235
24  서울   송파구  2020   108    82  190
25  서울   도봉구  2016   122    94  216
26  서울   도봉구  2017    69    63  132
27  서울   도봉구  2018   110    50  160
28  서울   도봉구  2019   147    76  223
29  서울   도봉구  2020    61    89  150
30  서울   동작구  2016    97    78  175
31  서울   동작구  2017   105    73  178
32  서울   동작구  2018   100    60  160
33  서울   동작구  2019    53    52  105
34  서울   동작구  2020    82    53  135
35  서울    중구  2016   114    68  182
36  서울    중구  2017   124    54  178
37  서울    중구  2018   115    60  175
38  서울    중구  2019    90    91  181
39  서울    중구  2020   121    55  176
40  부산  해운대구  2016   102   145  247
41  부산  해운대구  2017   131    97  228
42  부산  해운대구  2018    51    64  115
43  부산  해운대구  2019   110   114  224
44  부산  해운대구  2020   142   109  251
45  부산   수영구  2016   135    79  214
46  부산   수영구  2017    69    85  154
47  부산   수영구  2018    94   138  232
48  부산   수영구  2019    53    70  123
49  부산   수영구  2020   100   120  220

In [4]:
# 연도별 전체 총인구수 구하기
data.groupby('연도')['총인구'].sum()

연도
2016    2427
2017    2308
2018    2382
2019    2193
2020    2332
Name: 총인구, dtype: int64

In [14]:
# 연도별 전체 총인구수 구하기
# SQL 구문으로 표현하면 아래와 같다.
# SELECT 연도, sum(총인구) 
# FROM data
# GROUP BY 연도

In [30]:
data

    도시   자치구    연도  남자인구  여자인구  총인구
0   서울   강남구  2016    61    70  131
1   서울   강남구  2017   119   116  235
2   서울   강남구  2018   134   141  275
3   서울   강남구  2019   119   116  235
4   서울   강남구  2020   115   144  259
5   서울  서대문구  2016   114    95  209
6   서울  서대문구  2017    60    93  153
7   서울  서대문구  2018    55   100  155
8   서울  서대문구  2019   107    99  206
9   서울  서대문구  2020    74    62  136
10  서울   종로구  2016    90   120  210
11  서울   종로구  2017   117   127  244
12  서울   종로구  2018    61   146  207
13  서울   종로구  2019    61    72  133
14  서울   종로구  2020    50   101  151
15  서울  영등포구  2016   139   145  284
16  서울  영등포구  2017    92   134  226
17  서울  영등포구  2018   143   112  255
18  서울  영등포구  2019    69    69  138
19  서울  영등포구  2020   121   118  239
20  서울   송파구  2016   102    86  188
21  서울   송파구  2017    95    76  171
22  서울   송파구  2018   128    77  205
23  서울   송파구  2019   143    92  235
24  서울   송파구  2020   108    82  190
25  서울   도봉구  2016   122    94  216
26  서울   도봉구  2017    69    63  132
27  서울   도봉구  2018   110    50  160
28  서울   도봉구  2019   147    76  223
29  서울   도봉구  2020    61    89  150
30  서울   동작구  2016    97    78  175
31  서울   동작구  2017   105    73  178
32  서울   동작구  2018   100    60  160
33  서울   동작구  2019    53    52  105
34  서울   동작구  2020    82    53  135
35  서울    중구  2016   114    68  182
36  서울    중구  2017   124    54  178
37  서울    중구  2018   115    60  175
38  서울    중구  2019    90    91  181
39  서울    중구  2020   121    55  176
40  부산  해운대구  2016   102   145  247
41  부산  해운대구  2017   131    97  228
42  부산  해운대구  2018    51    64  115
43  부산  해운대구  2019   110   114  224
44  부산  해운대구  2020   142   109  251
45  부산   수영구  2016   135    79  214
46  부산   수영구  2017    69    85  154
47  부산   수영구  2018    94   138  232
48  부산   수영구  2019    53    70  123
49  부산   수영구  2020   100   120  220
50  부산   동래구  2016    82    79  161
51  부산   동래구  2017   107   145  252
52  부산   동래구  2018   113   127  240
53  부산   동래구  2019    51   148  199
54  부산   동래구  2020   104   115  219
55  부산    중구  2016   111    99  210
56  부산    중구  2017    79    78  157
57  부산    중구  2018   106    97  203
58  부산    중구  2019    50   141  191
59  부산    중구  2020   140    66  206

In [31]:
# 연도별 총인구수 구하기
data.groupby('연도')['총인구'].sum()

연도
2016    2427
2017    2308
2018    2382
2019    2193
2020    2332
Name: 총인구, dtype: int64

In [32]:
#실습. 위 결과를 pivot_table()함수를 사용하여 그대로 출력 (pivot_table 배운 후)
data.pivot_table(index = '연도', aggfunc = 'sum', values = '총인구')

       총인구
연도
2016  2427
2017  2308
2018  2382
2019  2193
2020  2332

In [33]:
# 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기
data.groupby('연도')[['남자인구','여자인구','총인구']].sum()

      남자인구  여자인구   총인구
연도
2016  1269  1158  2427
2017  1167  1141  2308
2018  1210  1172  2382
2019  1053  1140  2193
2020  1218  1114  2332

In [34]:
# 자치구별로 평균 총인구수 구하기
data.groupby('자치구')['총인구'].sum()

자치구
강남구     1135
도봉구      881
동래구     1071
동작구      753
서대문구     859
송파구      989
수영구      943
영등포구    1142
종로구      945
중구      1859
해운대구    1065
Name: 총인구, dtype: int64

In [35]:
# 도시/자치구별 평균 총인구수 구하기
data.groupby(['도시','자치구'])['총인구'].mean()

도시  자치구
부산  동래구     214.2
    수영구     188.6
    중구      193.4
    해운대구    213.0
서울  강남구     227.0
    도봉구     176.2
    동작구     150.6
    서대문구    171.8
    송파구     197.8
    영등포구    228.4
    종로구     189.0
    중구      178.4
Name: 총인구, dtype: float64

In [36]:
# 실습 1. 도시/자치구별 평균 남자인구와 여자인구수 구하기

In [37]:
data.groupby(['도시','자치구'])[['남자인구','여자인구']].mean()

          남자인구   여자인구
도시 자치구
부산 동래구    91.4  122.8
   수영구    90.2   98.4
   중구     97.2   96.2
   해운대구  107.2  105.8
서울 강남구   109.6  117.4
   도봉구   101.8   74.4
   동작구    87.4   63.2
   서대문구   82.0   89.8
   송파구   115.2   82.6
   영등포구  112.8  115.6
   종로구    75.8  113.2
   중구    112.8   65.6

In [40]:
# 실습 2. 도시별, 연도별로 총인구수 출력
data.groupby(['도시', '연도'])['총인구'].sum().unstack(0)

도시     부산    서울
연도
2016  832  1595
2017  791  1517
2018  790  1592
2019  737  1456
2020  896  1436

In [41]:
# pivot_table 한 후에 실습 2를 pivit_table() 함수로 변경
data.pivot_table(index = '연도', columns = '도시', aggfunc = 'sum', values = '총인구')

도시     부산    서울
연도
2016  832  1595
2017  791  1517
2018  790  1592
2019  737  1456
2020  896  1436

In [19]:
#연도별 총인구수의 합
#data.groupby('연도')['총인구'].sum()
data.pivot_table(index = '연도', 
                aggfunc = 'sum',
                values = '총인구')

       총인구
연도
2016  2427
2017  2308
2018  2382
2019  2193
2020  2332

In [17]:
# 도시별 연도별 총인구수의 합
#data.groupby(['도시','연도'])['총인구'].sum().unstack('도시')
data.pivot_table(index = '도시', columns = '연도',
                aggfunc = 'sum', values = '총인구')

연도  2016  2017  2018  2019  2020
도시
부산   832   791   790   737   896
서울  1595  1517  1592  1456  1436

<img src="img/8강/그룹분석_pivottable.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [42]:
# 실습. 자치구 별로 남자인구의 평균을 구한 후, 남자 인구가 가장 많은 도시 및 자치구 Top 5 찾기
data.pivot_table(index = ['도시','자치구'], aggfunc = 'mean', values = '남자인구').sort_values(by = '남자인구', ascending = False).head()

          남자인구
도시 자치구
서울 송파구   115.2
   영등포구  112.8
   중구    112.8
   강남구   109.6
부산 해운대구  107.2

In [48]:
# 실습. 여자가 남자보다 많은 도시/자치구 상위 3개 찾기 
data['남녀차이'] = data.여자인구 - data.남자인구
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구  남녀차이
0  서울  강남구  2016    61    70  131     9
1  서울  강남구  2017   119   116  235    -3
2  서울  강남구  2018   134   141  275     7
3  서울  강남구  2019   119   116  235    -3
4  서울  강남구  2020   115   144  259    29

In [49]:
data.pivot_table(index = ['도시', '자치구'], aggfunc = 'mean', values = '남녀차이')\
    .sort_values(by = '남녀차이', ascending = False).head(3)

        남녀차이
도시 자치구
서울 종로구  37.4
부산 동래구  31.4
   수영구   8.2